body { background-color: #999; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

h1, h2, h3, h4, h5 {
	font-family: Georgia, serif; font-weight: normal; line-height: 100%; margin: 9px 0;
}

table {
	min-width: 80%; border-spacing: 0px;
}

td, th {
	padding: 3px; margin: 0px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#content {
	-webkit-border-radius: 9px; -webkit-box-shadow: 0 0 10px #333; border: 1px solid #aaa; padding: 20px;
	width: 850px; margin: 15px auto; background-color: #fff;
}

#title {
	text-align: center; margin: 0; font-size: 18px; line-height: 18px; font-style: italic;
}

#nav ul {
	margin: 15px auto; width: 300px; list-style-type: none; padding: 0;
}

#nav ul li {
	list-style-type: none; margin: 0px; padding: 0px; float: left;
}

#nav ul li a {
	display: block; background-color: #333; color: #999; width: 149px; margin: 0 1px 0 0; line-height: 30px;
	text-decoration: none; text-align: center; font-weight: bold;
}

#nav ul li a:hover, #nav ul li.selected a {
	background-color: #ccc; color: #555;
}